In [4]:
# import require module and credentioal

import snowflake.connector
import json

with open("cred.json","r") as f:
    cred = json.load(f)

In [2]:
cred

{'userid': 'userid', 'password': 'xxxxx', 'account': 'px00000.ap-southeast-2'}

In [5]:

conn = snowflake.connector.connect(
    user=cred["userid"],
    password=cred["password"],
    account=cred["account"],
    session_parameters={
            "QUERY_TAG": "EndOfMonthFinance",
    }
)
"""
You can also set session parameters by executing the SQL statement ALTER SESSION SET ... after connecting:

con.cursor().execute("ALTER SESSION SET QUERY_TAG = 'EndOfMonthFinancials'")


"""

'\nYou can also set session parameters by executing the SQL statement ALTER SESSION SET ... after connecting:\n\ncon.cursor().execute("ALTER SESSION SET QUERY_TAG = \'EndOfMonthFinancials\'")\n\n\n'

In [6]:
conn

In [7]:
conn.cursor().execute("use role accountadmin")

In [9]:
# Creating a Database, Schema, and Warehouse
conn.cursor().execute("CREATE WAREHOUSE IF NOT EXISTS tiny_warehouse_mg")
conn.cursor().execute("CREATE DATABASE IF NOT EXISTS testdb_mg")
conn.cursor().execute("USE DATABASE testdb_mg")
conn.cursor().execute("CREATE SCHEMA IF NOT EXISTS testschema_mg")

In [10]:
# Using the Database, Schema, and Warehouse
conn.cursor().execute("USE DATABASE testdb_mg")
conn.cursor().execute("USE WAREHOUSE tiny_warehouse_mg")
conn.cursor().execute("USE SCHEMA testdb_mg.testschema_mg")

In [12]:
# Creating Tables and Inserting Data

conn.cursor().execute(
    "CREATE OR REPLACE TABLE "
    "test_table(col1 integer, col2 string)")

In [13]:
conn.cursor().execute(
    "INSERT INTO test_table(col1, col2) VALUES " +
    "    (123, 'indian Cricket'), " +
    "    (100, 'Kapil Dev')")

In [29]:
conn.cursor().execute("INSERT INTO test_table(col1, col2) VALUES (%s, %s)",('123','indianCricket'));

In [28]:
print("VALUES (%s, %s)", ('123','indianCricket'))

VALUES (%s, %s) ('123', 'indianCricket')

In [32]:

# Putting Data
conn.cursor().execute("PUT file://.\\data\\crick* @testdb_mg.testschema_mg.%test_table")


conn.cursor().execute("""COPY INTO test_table from @testdb_mg.testschema_mg.%test_table/crick1.csv.gz
                      file_format = (type = csv field_delimiter=',')
                        pattern = '.*.csv.gz'
                        on_error= 'skip_file'""")

In [36]:
# Querying Data
cur = conn.cursor()

try:
    cur.execute("SELECT col1, col2 FROM test_table ORDER BY col1")
    for (col1, col2) in cur:
        print('{0}, {1}'.format(col1, col2))
finally:
    cur.close()
print("Connection Close script end")

100, Kapil Dev
101, "Sachin Tendulkar"
102, "Rahul Dravid"
103, "Saurav Ganguly"
123, indian Cricket
Connection Close script end